<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670165629400-2480rd6m755jhmrt4k9jrgil0lilgqr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670165629400-2480rd6m755jhmrt4k9jrgil0lilgqr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDc6kIT_BhXMbFrcxE4uc201HDaf1kYvGU</string>
	<key>GCM_SENDER_ID</key>
	<string>670165629400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Danish-DMK.VocabularyTrainer123</string>
	<key>PROJECT_ID</key>
	<string>danish-vocabulary-trainer-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>danish-vocabulary-trainer-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670165629400:ios:c5e0ca9821a8b90e</string>
	<key>DATABASE_URL</key>
	<string>https://danish-vocabulary-trainer-pro.firebaseio.com</string>
</dict>
</plist>